# venv
venv/

# pycache
__pycache__/ 

# .env
.env
.pytest_cache/

# app.yaml
app.yaml
.vscode/settings.json
.vscode/settings.json

# Node.js / Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/out/
