openapi: 3.0.1
info:
  title: CodeSherpa
  description: CodeSherpa is a tool that allows you to execute Python code in a REPL-like environment and returns the output or error message. Please note that there is no persistence between calls.
  version: 1.0.0
servers:
  - url: https://codesherpa.dev/
paths:
  /repl:
    post:
      summary: Execute Python code.
      description: Executes the provided Python code and returns the output or error message.
      operationId: executeReplCode
      x-oaiMeta:
        name: Execute Python code
        group: execution
        path: repl
        examples:
          curl: |
            curl https://www.codesherpa.dev/repl \
              -H 'Content-Type: application/json' \
              -d '{
                "code": [
                  "x = 5",
                  "print(x)"
                ]
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: array
                  items:
                    type: string
                  description: A list of strings representing individual lines of the Python code to be executed.
      responses:
        200:
          description: Execution result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: The output of the executed code.
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  suggestion:
                    type: string
          x-oaiMeta:
            parameters: |
              {
                "code": [
                  "x = 5",
                  "print(x)"
                ]
              }
            response: |
              {
                "result": "5"
              }
